html {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

.sidebar {
  text-align: center;
  padding: 4rem 1rem;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}

.sidebar-nav-item {
  display: block;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

@media (min-width: 48em) {
  .sidebar-sticky {
    text-align: center;
  }
}

.content {
  padding-top:    3rem;
  padding-bottom: 4rem;
  font-size: 16px;
}

@media (min-width: 48em) {
  .content {
    max-width: 54rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}