.hll { background-color: #ffffcc }
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

/* Dark mode syntax highlighting */
@media (prefers-color-scheme: dark) {
  .hll { background-color: #45475a; }
  .c { color: #6c7086; }
  .err { color: #f38ba8; background-color: transparent; }
  .k { color: #cba6f7; }
  .o { color: #89dceb; }
  .cm { color: #6c7086; font-style: italic; }
  .cp { color: #f9e2af; }
  .c1 { color: #6c7086; }
  .cs { color: #6c7086; }
  .gd { color: #f38ba8; background-color: rgba(243,139,168,0.1); border-color: #f38ba8; }
  .gi { color: #a6e3a1; background-color: rgba(166,227,161,0.1); border-color: #a6e3a1; }
  .go { color: #a6adc8; }
  .gp { color: #89b4fa; }
  .gu { color: #94e2d5; }
  .gt { color: #a6e3a1; }
  .kc { color: #cba6f7; }
  .kd { color: #cba6f7; }
  .kn { color: #cba6f7; }
  .kp { color: #cba6f7; }
  .kr { color: #cba6f7; }
  .kt { color: #f9e2af; }
  .m { color: #fab387; }
  .s { color: #a6e3a1; }
  .na { color: #89b4fa; }
  .nb { color: #f5c2e7; }
  .nc { color: #f9e2af; }
  .no { color: #fab387; }
  .nd { color: #89b4fa; }
  .ni { color: #cdd6f4; }
  .ne { color: #f38ba8; }
  .nf { color: #89b4fa; }
  .nl { color: #89b4fa; }
  .nn { color: #f9e2af; }
  .nt { color: #cba6f7; }
  .nv { color: #cdd6f4; }
  .ow { color: #89dceb; }
  .w { color: #a6adc8; }
  .mf { color: #fab387; }
  .mh { color: #fab387; }
  .mi { color: #fab387; }
  .mo { color: #fab387; }
  .sb { color: #a6e3a1; }
  .sc { color: #a6e3a1; }
  .sd { color: #a6e3a1; font-style: italic; }
  .s2 { color: #a6e3a1; }
  .se { color: #fab387; }
  .sh { color: #a6e3a1; }
  .si { color: #fab387; }
  .sx { color: #a6e3a1; }
  .sr { color: #94e2d5; }
  .s1 { color: #a6e3a1; }
  .ss { color: #f9e2af; }
  .bp { color: #f5c2e7; }
  .vc { color: #cdd6f4; }
  .vg { color: #cdd6f4; }
  .vi { color: #cdd6f4; }
  .il { color: #fab387; }

  .css .o,
  .css .o + .nt,
  .css .nt + .nt { color: #a6adc8; }
}
