<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ "/" | absURL }}"><img src="/Avatar.png" alt="Personal Headshot"></a>
    </div>
    <!-- <a href="/Ali_Raza_Resume_10_29_2024.pdf" target="_blank"><span class="icon typcn typcn-document-text"></span></a>
    <a href="https://www.github.com/aaraza/"><span class="icon typcn typcn-social-github"></span></a>
    <a href="https://www.linkedin.com/in/ali-raza-/"><span class="icon typcn typcn-social-linkedin"></span></a>
    <a href="mailto:aaraza1995@gmail.com"><span class="icon typcn typcn-mail"></span></a> -->
  </div>
</aside>
