{{ $fights := .Page.Params.fights }}
{{ if not $fights }}
<p class="fight-carousel__empty">Add fights to `.Params.fights` to render this carousel.</p>
{{ else }}
<div class="fight-carousel" data-fight-carousel role="region" aria-label="Fight carousel" tabindex="0">
  <div class="fight-carousel__viewport">
    {{ range $index, $fight := $fights }}
    <article class="fight-card{{ if eq $index 0 }} is-active{{ end }}" data-fight-slide aria-hidden="{{ if eq $index 0 }}false{{ else }}true{{ end }}">
      <div class="fight-card__visual" data-video-wrapper data-video-id="{{ $fight.videoId }}" data-title="{{ $fight.title }}">
        <div class="fight-card__thumb" data-thumb>
          <img src="https://i.ytimg.com/vi/{{ $fight.videoId }}/hqdefault.jpg" alt="Thumbnail for {{ $fight.title }}" loading="lazy">
          <button type="button" class="fight-card__play" data-play-video aria-label="Play {{ $fight.title }}">
            <i class="bi bi-play-fill" aria-hidden="true"></i>
            <span>Play fight</span>
          </button>
        </div>
        <div class="fight-card__player" data-player></div>
      </div>
      <div class="fight-card__body">
        <p class="fight-card__eyebrow">Bout {{ add $index 1 }}</p>
        <h3 class="fight-card__title">{{ $fight.title }}</h3>
        <p class="fight-card__description">{{ $fight.description }}</p>
      </div>
    </article>
    {{ end }}
  </div>

  <div class="fight-carousel__controls" aria-label="Fight navigation">
    <button type="button" class="fight-carousel__nav fight-carousel__nav--prev" data-fight-prev aria-label="Previous fight">
      <i class="bi bi-arrow-left-short" aria-hidden="true"></i>
      <span>Prev</span>
    </button>
    <div class="fight-carousel__dots" role="tablist" aria-label="Choose a fight">
      {{ range $index, $fight := $fights }}
      <button type="button" class="fight-carousel__dot{{ if eq $index 0 }} is-active{{ end }}" data-fight-dot="{{ $index }}" aria-label="Go to {{ $fight.title }}"></button>
      {{ end }}
    </div>
    <button type="button" class="fight-carousel__nav fight-carousel__nav--next" data-fight-next aria-label="Next fight">
      <span>Next</span>
      <i class="bi bi-arrow-right-short" aria-hidden="true"></i>
    </button>
  </div>
</div>
{{ end }}
